canvas {
    position: fixed;
    top: 0;
    left: 0;
}

body, html {
    overflow-x: hidden;
    font-family: "Roboto Mono", sans-serif;
}

.popup {
    display: none;
}

.popup-content {
    transform: scale(0.75);
    transition: transform 0.3s ease-in-out;
}
