canvas {
    position: fixed;
    top: 0;
    left: 0;
}

body, html {
    overflow-x: hidden;
    font-family: "Roboto Mono", sans-serif;
}

.popup {
    display: none;
}

.popup-content {
    transform: scale(0.75);
    transition: transform 0.3s ease-in-out;
    padding: 2rem;
    overflow: auto;
    resize: both;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    z-index: 10;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    z-index: 20;
}


@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}


.list {
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.list .item{
    transition: .5s;
    filter: brightness(0);
}

.list .item:hover{
    filter: brightness(1);
    transform: translateZ(200px);
}
.list .item:hover *{
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(40deg);
}

.list .item:hover + * + *{
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(20deg);

}

.list .item:hover + * + * + *{
    filter: brightness(0.2);
    transform: translateZ(30px) rotateY(10deg);

}
.list .item:has(+ *:hover){
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(-40deg);

}

.list .item:has(+ * + *:hover){
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(-20deg);
    
}

.list .item:has(+ * + * + *:hover){
    filter: brightness(0.2);
    transform: translateZ(30px) rotateY(-10deg);
    
}


.image-container {
    width: 100%;
    overflow-x: auto;
    padding: 1rem;
    background-color: black;
}

