canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100vh; 
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Roboto Mono", sans-serif;
    font-size: 1em;
}
canvas#webgl {
    pointer-events: none;
}
.navbar {
    width: 100%; 
}

.navbar {
    position: relative;
    z-index: 1000;
}

#optionsMenu {
    z-index: 1001;
}

.navbar a:hover {
    color: #ff6600;
}
.popup {
    display: none;
}

.popup-content {
    transform: scale(0.75);
    transition: transform 0.3s ease-in-out;
    padding: 2rem;
    overflow: auto;
    resize: both;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    z-index: 10;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    z-index: 20;
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}


.image-container {
    width: 100%;
    overflow-x: auto;
    padding: 1rem;
    background-color: black;
}
