@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

body, html {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    height: 100%;
    font-size: 1em;
    background-size: auto 100%; /* Match the size */
    background-repeat: repeat-y; /* Ensure repeat to cover */
    background-position: top center; /* Align properly */
    background-image: url('os.png');
    color: #ffffff;
    scroll-behavior: smooth;
    z-index: 0;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar:hover {
    background-color: rgb(247, 247, 253);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
}

.navbar a {
    color: #050404;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #df731a;
}

.popup-content {
    transform: scale(0.75);
    transition: transform 0.3s ease-in-out;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    overflow: auto;
    resize: both;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.popup-content .close {
    color: #000;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    border-radius: 15px;
}

.card .imgBx {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 3% 1%;
}

.card .imgBx img {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding: 2%;
}

.card .details {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.card .details h2 {
    color: #fff;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #fff;
}

.card .details p {
    margin: 20px 0 0;
    color: #fff;
}

.colored-container {
    background-color: rgba(200, 200, 200, 0.6);
    border: 2px solid rgba(200, 200, 200, 0.9);
    padding: 1px;
    border-radius: 4px;
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.banner .content h1 {
    font-family: 'ICA Rubrik';
    font-size: 18rem;
    line-height: 1em;
    color: #25283B;
    position: relative;
}

.banner .content h1::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}

